{% extends 'crm_app/base.html' %}

{%block content%}

<div class="left-bar"><ul>

</ul>
</div>

<form action="{% url 'add_client' %}" method="post">
    {% csrf_token %}
     <div class="form-error">{{ form.non_field_errors }}</div>
    {{ form.as_p }}
    <!--   {% for f in form %}
    <p><label for="{{ form.f.id_for_label }}">{{ form.f.label }}:</label>{{ form.f }}</p>
    <div class="form-error">{{ form.f.errors }}</div>
    {% endfor %}-->

<button>Добавить</button>
</form>

{% endblock content%}