{% extends 'crm_app/base.html' %}
{%block content%}

<div class="left-bar">

    <!--
    {%for c in documentss %}
    <li><a href="{%  url c.url_name %}">{{c.title}}</a></li>
    {%endfor%}</ul>-->



      <ul class="tree">
      <li><details><summary><a href="{%  url 'clients_docs' %}">Документы заказчиков:</a> </summary>
    <ul>
        <li><a href="">договоры</a></li>
        <li><a href="">тн</a></li>
        <li><a href="">коносаменты</a></li>

    </ul>
      </details>
      </li>
        <li><details><summary><a href="{%  url 'supplyers_docs' %}">Документы перевозчиков:</a> </summary>
    <ul>
        <li><a href="{% url 'docs_types' pk=1 %}">договоры</a></li>
        <li><a href="">тн</a></li>
        <li><a href="">коносаменты</a></li>
        <li><a href="">дебіторкі</a></li>

    </ul>
      </details>
      </li>
     <li><details><summary><a href="{%  url 'other_companies_docs' %}">Другие Документы:</a> </summary>
    <ul>
        <li><a href="">корпоративные</a></li>
        <li><a href="">прочие</a></li>

    </ul>
      </details>
      </li>


    <ul>

</div>

<div class="centercontent">

<h3> {{title2}} </h3>

    {% for c in documents %}
        {% if c.len > 0 %}


        <h3>{{c.name}}</h3>
    <ul>{% if c.client%}
        <li><b>Документ от Заказчика: </b>{{c.client}}</li>

        {% elif c.supplyer%}
        <li><b>Документ от Перевозчикаа: </b>{{c.supplyert}}</li>
        {% elif c.other_organization%}
        <li><b>Документ от сторонней организации: </b>{{c.other_company}}</li>
        {%  else %}
        <li><b>Корпоративный Документ </b></li>
       {%endif%}

         <li>Тип документа: {{c.type}}</li>
         {% if c.file %}
         <a href="{{c.file.url}}">{{c.file}}</a>
        {%else%}
        <p>no file</p>
        {% endif %}
    </ul>
     {%endif%}
    {% endfor %}

    <hr>
    <br><br>

<h2>Загрузить новый документ</h2>

    <form action="{% url 'documents' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            {{ form.file}}
        </p>
        <p><input type="submit" value="загрузить файл" /></p>
    </form>

</div>
{%endblock content%}