{% extends 'crm_app/base.html' %}

{%block content%}

<div class="left-bar"><ul>

</ul>
</div>

<form action="{% url 'download_document' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
     <div class="form-error">{{ form.non_field_errors }}</div>

     <p><label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>{{ form.name }}</p>
    <div class="form-error">{{ form.name.errors }}</div>
     <p><label for="{{ form.supplyer.id_for_label }}">{{ form.supplyer.label }}:</label>{{ form.supplyer }}</p>
    <div class="form-error">{{ form.supplyer.errors }}</div>
    <p><label for="{{ form.sdelka.id_for_label }}">{{ form.sdelka.label }}:</label>{{ form.sdelka }}</p>
    <div class="form-error">{{ form.sdelka.errors }}</div>

    <p><label for="{{ form.type.id_for_label }}">{{ form.type.label }}:</label>{{ form.type }}</p>
    <div class="form-error">{{ form.type.errors }}</div>
    <p><label for="{{ form.file.id_for_label }}">{{ form.file.label }}:</label>{{ form.file }}</p>
    <div class="form-error">{{ form.file.errors }}</div>







<button >Добавить файл</button>
</form>

{% endblock content %}