{% extends 'crm_app/base.html' %}
{%block content%}

<div class="left-bar"><ul>

    {%for c in documentss %}
    <li><a href="{% url c.url_name %}">{{c.title}}</a></li>
    {%endfor%}
</ul>

</div>

<div class="centercontent"><ul>




<div class="borders">



    <li>Название документа: {{document.name}}</li>
    <li>Номер сделки: {{document.sdelka}}</li>
    <li>Наименование заказчика: {{document.client}} </li>
    <li>Наименование Перевозчика: {{document.supplyer_1}}</li>

    <li>Наименование стороней организации: {{document.other_company}}</li>

    <li> Вид документа: {{document.type}}</li>
    <a href="{{document.file.url}}">{{document.file}}</a>


<td>
    <br>
    <td align = 'right'><button><a href="{% url 'delete_document' document.id %}">Удалить документ</a></button></td>


</ul>
</div>
{% endblock content %}