<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for o in obj_list %}
<p>{{o}}</p>
{% endfor %}

{{sdelka}} --- best
------------------------------------------------------------------------------------------------------------------
{{sdelka}} | {{sdelka}}  |  {{sdelka}}   |  {{sdelka}}  |{{sdelka}} | {{sdelka}}  |  {{sdelka}}   |  {{sdelka}}  |
---------------------------------------------------------------------------------------------------------------
           |             |               |               |          |             |               |             |
---------------------------------------------------------------------------------------------------------------
</body>
</html>