{% extends 'crm_app/base.html' %}
{%block content%}

<div class="left-bar"><ul>
    {%for c in operationss %}
        <li><a href="{% url c.url_name %}">{{c.title}}</a></li>

    {%endfor%}</ul>

</div>

<div class="centercontent"><ul>
    <button class="addbutton"><a href="{% url 'add_quotation' %}">Добавить котировку</a></button>

    {% for c in quotations %}
        <h3>{{c.client}}</h3>
    <li>котировка создана: {{c.time_create}}</li>
    <li>{{c.status}}</li>
    <li>место загрузки:  {{c.loading_country}}  ||  место выгрузки: {{c.unloading_country}}</li>
    <li>транспорт: {{c.common_transport}} </li>
    <li>{{c.result}} </li>
   

<p ><a href="{{ c.get_absolute_url }}">Посмотреть подробней</a></p>
    {% endfor %}<hr>
</ul>
</div>
{%endblock content%}