{% extends 'crm_app/base.html' %}
{%block content%}

<div class="left-bar"><ul>
    {%for c in operationss %}
        <li><a href="{% url c.url_name %}">{{c.title}}</a></li>

    {%endfor%}</ul>

</div>

<div class="centercontent"><ul>
    {% for c in sdelki %}
        <h3>{{c.client}}</h3>
    <li>{{c.cl_price}} {{c.cl_currency}}</li>
    <li>номер сделкі: {{c.number}} </li>


<p ><a href="{{ c.get_absolute_url }}">Посмотреть подробней</a></p>
    {% endfor %}<hr>
</ul>
</div>
{%endblock content%}