{% extends 'crm_app/base.html' %}
{% load crm_app_tags %}
{%block content%}

<div class="left-bar"><ul>
    {%for c in operationss %}
    <li><a href="{% url c.url_name %}">{{c.title}}</a></li>
    {%endfor%}</ul>
</div>

<div class="centercontent"><ul>
    <button class="addbutton"><a href="{% url 'add_sdelka' %}">Добавить Сделку</a></button>
     {% for msg in messages %}
    <div class="success">{{msg}}</div>
    {% endfor %}
<ul>
<h4>Самая ранняя Сделка:</h4>
   <li> {{earlier_sdelka.number}} </li>
   <li> {{earlier_sdelka.time_create}} </li>
    <li>{{earlier_sdelka.description}} </li>
    <p ><a class="double-border-button" href="{{ earlier_sdelka.get_absolute_url }}">Посмотреть подробней</a></p>
 <h4>Самая поздняя Сделка:</h4>
   <li> {{latest_sdelka.number}} </li>
   <li> {{latest_sdelka.time_create}} </li>
    <li>{{latest_sdelka.description}} </li>
<p ><a class="double-border-button" href="{{ latest_sdelka.get_absolute_url }}">Посмотреть подробней</a></p>



</ul>
</ul>
</div>
{%endblock content%}