{% extends 'crm_app/base.html' %}
{%block content%}


<div class="left-bar"><ul>

    {%for c in contragentss %}
    <li><a href="{% url c.url_name %}">{{c.title}}</a></li>
    {%endfor%}
</ul>

</div>

<div class="centercontent"><ul>
    <div class="borders">

        <h3>Название: {{supplyer.company_name}}</h3>
    <li>Контакт с сотрудником: {{supplyer.contact_name}}</li>
    <li>Email Перевозчика: {{supplyer.email}} </li>
    <li>Телефон:{{supplyer.phone}}</li>
    <li>Адрес: {{supplyer.address}} </li>

    <li>{{supplyer.time_create}} </li>
        {% if  supplyer.supplyer_status == True%}
        <li>Надежный перевозчик: ✔️ </li>
        {% else %}

        {% endif %}


   <h3>Сделки, в которых учавствует Перевозчик:</h3>
        <!--
        {{ supplyer.stavka1.all }} <br>
        {{ supplyer.stavka2.all}}<br>
        {{ supplyer.stavka3.all }}<br>
        {{ supplyer.stavka4.all }}<br>
        {{ supplyer.stavka5.all }}<br>
        {{ supplyer.stavka6.all }}<br>
        {{ supplyer.stavka7.all }}<br>
        {{ supplyer.stavka8.all }}<br>
        {{ supplyer.stavka9.all }}<br>
        {{ supplyer.stavka10.all }}<br>-->


    {% for s in supplyer.stavka1.all %}
      <p><a href="{% url 'show_sdelka' s.pk %}">Сделка № {{s.number}}</a></p>

    {% endfor %}
      {% for s in supplyer.stavka2.all %}
      <p><a href="{% url 'show_sdelka' s.pk %}">Сделка № {{s.number}}</a></p>

    {% endfor %}
        {% for s in supplyer.stavka2.all %}
      <p><a href="{% url 'show_sdelka' s.pk %}">Сделка № {{s.number}}</a></p>

    {% endfor %}
        {% for s in supplyer.stavka4.all %}
      <p><a href="{% url 'show_sdelka' s.pk %}">Сделка № {{s.number}}</a></p>

    {% endfor %}
        {% for s in supplyer.stavka5.all %}
      <p><a href="{% url 'show_sdelka' s.pk %}">Сделка № {{s.number}}</a></p>

    {% endfor %}
        {% for s in supplyer.stavka6.all %}
      <p><a href="{% url 'show_sdelka' s.pk %}">Сделка № {{s.number}}</a></p>

    {% endfor %}
        {% for s in supplyer.stavka7.all %}
      <p><a href="{% url 'show_sdelka' s.pk %}">Сделка № {{s.number}}</a></p>

    {% endfor %}
        {% for s in supplyer.stavka8.all %}
      <p><a href="{% url 'show_sdelka' s.pk %}">Сделка № {{s.number}}</a></p>

    {% endfor %}
        {% for s in supplyer.stavka9.all %}
      <p><a href="{% url 'show_sdelka' s.pk %}">Сделка № {{s.number}}</a></p>

    {% endfor %}
        {% for s in supplyer.stavka10.all %}
      <p><a href="{% url 'show_sdelka' s.pk %}">Сделка № {{s.number}}</a></p>

    {% endfor %}


   <h3>Документы Перевозчика:</h3>
    {% for d in doc_cl %}

   <p> {{d.type}}: <a href="{{d.file.url}}">{{d.sdelka}}</a></li></p>

    {% endfor %}
    <br>


</div>
    <br>
    <button><a href="{% url 'update_supplyer' supplyer.id  %}">Редактировать</a></button>
    <button><td align = 'right'><a href="{% url 'delete_supplyer' supplyer.id %}">Удалить</a></td></button>

</ul>
</div>
{%endblock content%}