{% extends 'crm_app/base.html' %}

{%block content%}




<div class="left-bar"><ul>
    {%for c in contragentss %}
        {% if c.url_name == 'supplyers' %}

       <li class="selected">{{c.title}}</li>
    {%else%}
    <li><a href="{% url c.url_name %}">{{c.title}}</a></li>
    {% endif%}
    {%endfor%}</ul>

</div>

<div class="centercontent"><ul>
    <button class="addbutton"><a href="{% url 'add_supplyer' %}">Добавить Перевозчика</a></button>
     {% for msg in messages %}
    <div class="success">{{msg}}</div>
    {% endfor %}

    {% for c in supplyers %}
        <h3>{{c.company_name}}</h3>
    <li>{{c.id}}</li>
    <li>{{c.contact_name}}</li>
     <li>Надежный: {{c.supplyer_status}}</li>
    <li>{{c.email}} </li>
    <li>{{c.phone}}</li>
    <li>{{c.address}} </li>
    <li>{{c.created}} </li>
    <li>{{c.updated}} </li>
<p ><a class="double-border-button" href="{{ c.get_absolute_url }}">Посмотреть подробней</a></p>
    {% endfor %}<hr>
</ul>
</div>
{%endblock content%}